@(spirals: SpiralS, form: Form[SpiralSForm.Data], postUrl: Call)(implicit request: RequestHeader, messages: Messages)

@main("SpiralS") {

<h1>SpiralS</h1>

@* Flash shows updates to a page *@
@request.flash.data.map{ case (name, value) =>

}



<hr/>

@* Global errors are not tied to any particular form field *@
@if(form.hasGlobalErrors) {
@form.globalErrors.map { error: FormError =>
<div>
    @error.key: @error.message
</div>
}
}

@helper.form(postUrl) {
@helper.CSRF.formField

<table>
    <tbody>
    <thead><td>Degree of Freedom</td><td>Current value</td></thead>
    <tr><td>@helper.inputText(form("size"))</td><td>@spirals.size</td></tr>
    <tr>
        <td>
        @helper.checkbox(form("dyn"))
    </td>
        <td>@spirals.dyn</td>
    </tr>
    <tr>
        <td>
            @helper.checkbox(form("interleaved"))
        </td>
        <td>@spirals.interleaved</td>
    </tr>
    <tr><td>@helper.inputText(form("basesize"))</td><td>@spirals.basesize</td></tr>
    <tr>
        <td>
            @helper.checkbox(form("thread"))
        </td>
        <td>@spirals.thread</td>
    </tr>
    <tr>
        <td>
            @helper.checkbox(form("twid_inline"))
        </td>
        <td>@spirals.twidinline</td>
    </tr>
    <tr>
        <td>
            @helper.checkbox(form("twid_precomp"))
        </td>
        <td>@spirals.twid_precomp</td>
    </tr>
    <tr><td>
        <button>Generate Code</button>
    </td><td></td></tr>
    </tbody>
</table>






<img src="@{spirals.img}"/>
<pre><code class="Scala">@{spirals.txt}</code></pre>

}

}
